html,body {
	height: 100%;
	margin: 10px 10px;
    padding: 10px 10px;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
